In [1]:
import pandas as pd
import numpy as np

import pymysql
from sqlalchemy import create_engine

import getpass

In [2]:
password = getpass.getpass()

········

In [3]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)

In [4]:
def rentals_month(engine, month, year):
    # Create the SQL query
    query = f'''
    SELECT *
    FROM rental
    WHERE MONTH(rental_date) = {month} AND YEAR(rental_date) = {year}
    '''

    # Execute the query and fetch the results into a DataFrame
    df = pd.read_sql(query, engine)

    return df

In [ ]:
month = 6
year = 2023

rental_data = rentals_month(engine, month, year)

In [5]:
def rental_count_month(rental_data, month, year):

    filtered_data = rental_data[(rental_data['rental_date'].dt.month == month) & (rental_data['rental_date'].dt.year == year)]
    
   
    rental_counts = filtered_data.groupby('customer_id').size().reset_index(name=f'rentals_{month:02d}_{year}')
    
    return rental_counts

In [6]:
month = 5
year = 2005

rental_counts_data = rental_count_month(rental_data, month, year)

NameError: name 'rental_data' is not defined

In [7]:
def compare_rentals(df1, df2):
    # Merge the two DataFrames based on customer_id
    merged_df = pd.merge(df1, df2, on='customer_id', how='outer')
    
    # Compute the difference between rental counts
    merged_df['difference'] = merged_df.iloc[:, 1] - merged_df.iloc[:, 2]
    
    return merged_df

In [8]:
# Assuming you have the two rental counts DataFrames: df1, df2
comparison_result = compare_rentals(df1, df2)

NameError: name 'df1' is not defined